// Workflow parameters
params.maker_evidence_gff = "/projects/annotation/bombus_balteatus_2/04-evidence_build/maker_output_processed_bombus_balteatus_genome/maker_annotation.gff"
params.genome = "/projects/annotation/bombus_balteatus_2/genome/bombus_balteatus_genome.fa"
params.outdir = "results"
params.species_label = 'bombus_balteatus'  // e.g. 'asecodes_parviclava'
params.model_selection_value = 0.1
params.codon_table = 1
params.test_size = 100
params.flank_region_size = 1000
params.maker_species_publishdir = '/projects/references/augustus/config/species/'

// Nextflow parameters
resume = true
workDir = '/active/marcin_bombus_work'
conda.cacheDir = "$HOME/.nextflow/conda"
singularity.cacheDir = "$HOME/.nextflow/singularity"
