singularity.runOptions = "-B /tmp"
process {
	withName:busco { 
			beforeScript='cp /etc/resolv.conf /tmp'
        }
}
params.genome = "/projects/annotation/bombus_balteatus_2/genome/bombus_balteatus_genome.fa"
params.outdir = "results"
params.min_length = 1000
params.busco_lineage = [ 'hymenoptera_odb10' ]
