params.genome = '/projects/annotation/bombus_balteatus_2/genome/bombus_balteatus_genome.fa'
params.gff_annotation = '/projects/annotation/bombus_balteatus_2/06-hybrid_build/maker_output_processed_bombus_balteatus_genome/maker_mix.gff'
params.outdir = "fun_ann_results"
params.codon_table = 1
params.records_per_file = 1000
params.blast_db_fasta = '/projects/references/databases/uniprot/2018-03/uniprot_sprot.fasta'
params.interproscan_db = ''
params.merge_annotation_identifier = 'ID'
